
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Laundry Next Door</title>
  <link rel="stylesheet" href="/css/bootstrap.css" media="screen" charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css" media="screen" charset="UTF-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <nav class="navbar navbar-default" >
    
        <div class = "container">
          <div class ="navbar-header"> 
              
            <img src="/images/logo.png" class="logo" href="/"/>
            <a href="/" class ="navbar-brand">CleanApp</a>
          </div>
         <!---
        <div class ="collapse navbar-collapse" id ="humberger">
        -->
            <ul class="nav navbar-nav">
               <!--<li><a href="#">About Us</a></li>-->
              <li><a href="#">How it works</a></li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
           <li><a href="provider-form">Provider Sign-Up</a></li>
           <li><a href="post-orderForm">Place an Order</a><li>
           <li><a href="signupForm">Sign up</a><li>
           <!--</li><a href="signupForm">Sign up</a></li>-->
    
          </ul>
      
        </div>
      </nav>

 
</head>