<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>order-form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <form method="POST" action="/post-orderForm">
<fieldset>
  <legend>Customer Information</legend>
  <label for='distanceSearch'>Nearest Service</label>
  <label>Full Name
  <input type="name" name="fullName">
  
  <label>Address
  <input type="Street Address" name="address"> <br>
  </label>
  <label>City
  <input type="city" name="city"> 
  </label>
  <label>State
  <input type="state" name="state"> 
  </label>
  <label>Zip-Code
  <input type="zip-code" name="zipcode"> <br>
  </label>
  <label>Telephone
  <input type="telephone" name="telephone"> 
  </label>
  <label>Email Address
  <input type="email" name="email"> <br>
  </label>
  <label>Special Attention
  <input type="attention" name="attention"> <br>
  </label>
  <input type="submit" name="submit" value="Submit">
</label>
</fieldset> 
</form> 
<a href="order-form.ejs">Order Form</a>
</body>
</html>