<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up</title>
  <% include ../templates/head %>
</head>
<body>
<form method="POST" action="/signupForm" id="signup">
  
  <div class="form-row">
      <div class="form-group col-md">
          <label for="FullName">Full name</label>
          <input type="text" class="form-control" name ="name" id="FullName" placeholder="First Name, Last Name">
        </div>
    <div class="form-group col-md ">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email">
    </div><br>
    <div class="form-group col">
      <label for="PhoneNum">Phone Number</label>
      <input type="phonenumber" class="form-control" name="phone" id="inputEmail4" placeholder="Phone Number">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" name= "address" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name= "City" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <input type="text" id="inputState" class="form-control" name= "state">
      
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" name= "zipcode" id="inputZip">
    </div>
  </div>
 
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
</body>
</html>